<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Swiggy Seller</a>
    <% console.log(active) %> 
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarColor01"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-4">
        <li class="nav-item">
          <a class="nav-link <%= (active==="shop")?"active":"" %> " href="/shop/index">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  <%= (active==="deli")?"active":"" %> " href="/delivery/index">Captains</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
